/* md */

@media (min-width: 992px) and (max-width: 1199px) {

	.comments-reply li section {
		width: 88%
	}

}

/* sm */

@media (min-width: 768px) and (max-width: 991px) {

	header[role="header"] {
		padding: 8% 0;
	}

	header[role="header"] nav ul {
		padding-top: 10%
	}



	footer[role="footer"] {
		padding: 30px 0
	}

	footer[role="footer"] nav {
		padding: 15px 0
	}

}

/* xs */

@media (max-width: 767px) {

	header[role="header"] nav ul {
		padding-top: 10%
	}

	header[role="header"] nav ul>li {
		font-size: 30px
	}

	header[role="header"] nav ul>li>a {
		line-height: 55px
	}


	footer[role="footer"] {
		padding: 40px 0
	}

	footer[role="footer"] nav {
		padding: 15px 0
	}



}